.main-head {
  @include phones {
    width: 100%;
  }
}

nav {
  @include flex(space-between, center, row);
  min-height: 10vh;
  width: 90%;
  flex-wrap: wrap;
  margin: auto;
  @include phones {
    width: 100%;
  }
  // min-height: 10vh;
  // display: flex;
  // align-items: center;
  // flex-wrap: wrap;
  // width: 90%;
  // margin: auto;

  #logo {
    @include flex(flex-start, center, row);
    flex: 1 1 40rem;
    @include tablets {
      justify-content: center;
    }
    img {
      height: 5rem;
      width: 5rem;
    }
    h1 {
      margin: 2rem;
    }
  }
  ul {
    @include flex(space-around, center, row);
    flex: 1 1 40rem;
    @include phones {
      margin-top: 2rem;
    }
    li a {
      background: transparent;
      padding: 1rem 3rem;
      border-radius: 2rem;
      outline: none;

      &:hover,
      &:focus {
        background: $gray-text;
        color: #fff;
        padding: 1rem 3rem;
        border-radius: 2rem;
      }
    }
  }
}
