.projects {
  width: 90%;
  margin: auto;
  min-height: 90vh;
  text-align: center;
  @include flex(space-between, center, row);
  h2 {
    margin: 5rem;
  }

  img {
    width: 100%;

    cursor: pointer;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    @include lg-laptop {
      grid-template-columns: repeat(3, 1fr);
    }

    @include laptop {
      grid-template-columns: repeat(2, 1fr);
    }

    // flex: 1 1 40rem;

    // display: flex;
    // flex-wrap: wrap;
    // @include lg-laptop {
    //   width: 90%;
    //   margin: 0 auto;
    // }
    // @include laptop {
    //   width: 80%;
    // }
    // @include md-laptop {
    //   width: 100%;
    // }
    @include sm-laptop {
      grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    }
    // @include sm-laptop {
    //   width: 65%;
    // }
    // @include tablets {
    //   width: 88%;
    // }

    & li {
      grid-row: auto;
      grid-column: auto;
      //   margin: 3rem 5rem 5rem 0;
      //   & h2 {
      //     margin-bottom: 3rem;
      //   }

      //   &:nth-child(2n) {
      //     margin-right: 0;
      //   }
      // }
    }
  }
}

.hover-zoom {
  overflow: hidden;
  border-radius: 3rem;
  &--blur img {
    transition: transform 1s ease-in-out;
    // filter: blur(2px);
    transform: scale(1);
  }
  &--blur:hover img {
    // filter: blur(0);
    transform: scale(1.2);
  }
}
