$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
$gradient: linear-gradient(left, #3129ba, #d84f03);
$bg-color: #154353;
$gray-text: #2c2c2c;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin container {
  width: 95%;
  margin: 0 0 auto;
}

@mixin lg-laptop {
  @media screen and (max-width: 2560px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1800px) {
    @content;
  }
}

@mixin md-laptop {
  @media screen and (max-width: 1500px) {
    @content;
  }
}

@mixin hybrid-laptop {
  @media screen and (max-width: 1400px) {
    @content;
  }
}

@mixin sm-laptop {
  @media screen and (max-width: 1080px) {
    @content;
  }
}

@mixin tablets {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: 426px) {
    @content;
  }
}
@import "./layout/normalize";
@import "./layout/global";
@import "./blocks/header";
@import "./blocks/intro";
@import "./blocks/projects";
@import "./blocks/contact";
@import "./blocks/footer";
